th {
  cursor: pointer;
}

table {
  position: relative;
}

tr {
  display: flex;
}

th {
  position: relative;
}

td,
th {
  min-width: calc(100% / 5);
}

.topSection {
  min-height: 1em;
  position: relative;
}

.sortIcon {
  font-size: 1.3rem;
  position: absolute;
  left: -0.7em;
  transition: 0.75s all;
  color: #ffcc80;
}

.sortIcon--desc {
  transform: rotate(90deg);
  top: 0.9em;
}

.sortIcon--asc {
  top: 1.05em;
  transform: rotate(-90deg);
}

